# packages – скачать и инсталировать прораммы (yum, rpm, msi)

packages:
  yum:
    jq: []
    java-1.8.0-openjdk: []

# sources - скачать архив из инета и распаковать (tar, gzip, zip)

sources:
  /home/ec2-user: https://mysite.com/files/certs.zip

# files – создать файлы (можно скачать используя source)

files:
  # создать файл
  /home/ec2-user/hello_world.sh:
    group: root
    mode: "000755"
    owner: root
    content: |
      #!/bin/bash
      echo "Hello World" >> hello-world.txt

  # скачать файл
  /home/ec2-user/img_from_inet.jpg:
    group: root
    mode: "000444"
    owner: root
    source: https://mysite.com/images/picture-123.jpg

# users – создать пользователей, только на Linux

users:
  vasya: {}
  petya: {}
  kolya: {}

# groups – создать группы, только на Linux

groups:
  administrators: {}
  devops: {}
  developers: {}
  read_only: {}

# commands – запустить системные комманды перед распаковкой zip файла

commands:
  create_www_dir:
    command: "mkdir -p /home/ec2-user/www"
  remove_java7:
    command: "yum -y remove java-1.7.0-openjdk"

# container_commands – запустить системные команды после распаковки

container_commands:
  copy_source_files:
    command: "cd .ebextensions/www/* /home/ec2-user/www/"

# services – старт, стоп сервисов

services:
  sysvinit:
    nfs:
      enabled: "true"
      ensureRunning: "true"

# Resources – создание дополнительных ресурсов AWS

Resources:
  MyBucket123:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: hello.elastic.beanstalk.s3.bucket
